@charset "UTF-8";
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ul li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.js-slideUp {
  opacity: 0;
}

.scrollin {
  -webkit-animation: fadeUpAnime 0.5s forwards;
  animation: fadeUpAnime 0.5s forwards;
  -webkit-animation-name: scrollin;
  animation-name: scrollin;
}

@-webkit-keyframes scrollin {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes scrollin {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.js-slideUpTop {
  opacity: 0;
}

.scrollintop {
  -webkit-animation: fadeUpAnime 0.5s forwards;
  animation: fadeUpAnime 0.5s forwards;
  -webkit-animation-name: scrollin-top;
  animation-name: scrollin-top;
}

@keyframes scrollin-top {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translate(-50%, 200px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translate(-50%, 20%);
  }
}
/*js-slideLeft 左から出てくる */
.js-slideLeft {
  opacity: 0;
}

.fadeLeft {
  -webkit-animation-name: fadeLeftAnime;
  animation-name: fadeLeftAnime;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
/*js-slideRight 右から出てくる */
.js-slideRight {
  opacity: 0;
}

.fadeRight {
  -webkit-animation-name: fadeRightAnime;
  animation-name: fadeRightAnime;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeRightAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeRightAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.button {
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 0 2%;
}
@media screen and (max-width: 768px) {
  .button {
    width: 125px;
    padding: 0;
  }
}
@media screen and (max-width: 480px) {
  .button {
    width: 90px;
  }
}
.button::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 9px;
  right: 0;
  border-top: solid 3px #333;
  border-right: solid 3px #333;
  transform: rotate(45deg);
}
@media screen and (max-width: 480px) {
  .button::before {
    top: 4px;
    width: 12px;
    height: 12px;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
  }
}
.button::after {
  content: "";
  position: absolute;
  display: block;
  width: 28px;
  height: 3px;
  background-color: #333;
  top: 17px;
  right: 0;
}
@media screen and (max-width: 480px) {
  .button::after {
    top: 10px;
    width: 20px;
    height: 2px;
  }
}
.button a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2;
  font-size: 1.2rem;
}

.header {
  position: fixed;
  top: 0;
  height: 7vh;
  z-index: 2;
  width: 100%;
  background: #fff;
}
@media screen and (max-width: 1024px) {
  .header {
    position: absolute;
    height: auto;
  }
}
.header_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header_inner {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  .header_inner {
    width: 100%;
  }
}
.header_left {
  width: 25%;
  margin-left: 5%;
}
@media screen and (max-width: 1024px) {
  .header_left {
    width: 100%;
  }
}
.header_left a {
  display: flex;
  justify-content: unset;
  align-items: center;
}
.header_left a:hover {
  opacity: 0.6;
}
.header_left a h1 {
  font-size: 1.3rem;
}
.header_left a img {
  width: 80px;
}
@media screen and (max-width: 480px) {
  .header_left a img {
    width: 60px;
  }
}
.header_right {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: unset;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header_right {
    width: 100%;
  }
}
.header_hamburger {
  display: none;
  position: fixed;
  z-index: 5;
  right: 13px;
  top: 20px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s all;
}
@media screen and (max-width: 1024px) {
  .header_hamburger {
    display: block;
  }
}
.header_hamburger.active {
  transform: rotate(90deg);
}
.header_hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: #333;
  transform: rotate(-45deg);
}
.header_hamburger.active span:nth-child(2) {
  top: 16px;
  background: #333;
  transform: rotate(45deg);
}
.header_hamburger.active span:nth-child(3) {
  opacity: 0;
}
.header_hamburger span {
  display: none;
  position: absolute;
  width: 27px;
  height: 2px;
  left: 6px;
  background: #333;
}
@media screen and (max-width: 1024px) {
  .header_hamburger span {
    display: block;
  }
}
.header_hamburger span:nth-child(1) {
  top: 0px;
}
.header_hamburger span:nth-child(2) {
  top: 10px;
}
.header_hamburger span:nth-child(3) {
  top: 20px;
}
.header_nav {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header_nav {
    display: none;
  }
}
.header_navSp {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  color: #333;
  background: #fff;
  text-align: center;
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: hidden;
  transform: translate(-100%);
  transition: all 0.6s ease;
}
.header_navSp.active {
  transform: translate(0);
  visibility: visible;
}
.header_navSpItem {
  width: 50%;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0 auto 5%;
}
@media screen and (max-width: 768px) {
  .header_navSpItem {
    font-size: 2rem;
  }
}
.header_navSpItem a {
  color: #0F77BB;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 3;
}
.header_navSpItems {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_navItem {
  display: inline-block;
}
.header_navItem a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 3;
}
.header_navItem a:hover {
  color: #0F77BB;
  font-weight: bold;
}
.header_navBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header_tel {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #084066;
}
@media screen and (max-width: 1024px) {
  .header_tel {
    width: 100%;
    background-color: unset;
    justify-content: unset;
    margin-left: 5%;
  }
}
@media screen and (max-width: 768px) {
  .header_tel {
    display: none;
  }
}
.header_tel img {
  width: 35px;
}
@media screen and (max-width: 1024px) {
  .header_tel img {
    width: 25px;
  }
}
.header_tel p {
  font-size: 1rem;
  color: white;
  margin-left: 5%;
}
@media screen and (max-width: 1024px) {
  .header_tel p {
    color: #333;
  }
}

.footer {
  background-color: #0F77BB;
  padding: 5%;
  margin-top: 100px;
}
.footer_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .footer_inner {
    display: block;
  }
}
.footer_left {
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .footer_left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.footer_logo {
  width: 100%;
}
.footer_logo a {
  display: flex;
  justify-content: unset;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .footer_logo a {
    justify-content: center;
  }
}
.footer_logo a img {
  width: 30%;
}
.footer_logo a h1 {
  color: #fff;
  font-size: 1.5rem;
}
.footer_info {
  margin-left: 4%;
}
.footer_infoItem {
  display: flex;
  margin-bottom: 3%;
}
.footer_item {
  margin-bottom: 3%;
}
.footer_itemTtl {
  color: #fff;
  line-height: 2;
}
.footer_itemEx {
  color: #fff;
  line-height: 2;
}
.footer_right {
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: unset;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .footer_right {
    display: none;
  }
}
.footer_nav {
  width: 100%;
}
.footer_navItem {
  display: inline-block;
}
.footer_navItem a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 3;
  color: #fff;
}
.footer_navItem a:hover {
  opacity: 0.6;
}
.footer_navBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer_copy {
  text-align: end;
}
@media screen and (max-width: 1024px) {
  .footer_copy {
    text-align: center;
  }
}
.footer_copy small {
  color: #fff;
  font-size: 0.8rem;
  margin-right: 10%;
}
@media screen and (max-width: 1024px) {
  .footer_copy small {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .sp {
    display: none;
  }
}

* {
  box-sizing: border-box;
  color: #333;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}

.top {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.top_inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(../../img/topimg1.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .top_inner {
    background-size: contain;
  }
}
.top_inner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: fv-move 2s forwards ease-in-out;
}
.top_copy {
  position: absolute;
  width: 100%;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .top_copy {
    bottom: 3%;
  }
}
.top_copy h2 {
  font-size: 2.5rem;
  font-family: "Yuji Syuku", serif;
  letter-spacing: 0.1em;
  font-weight: 400;
}
.top_copy p {
  font-size: 1.2rem;
  margin: 2% 0 1%;
}
.top_copy h3 {
  font-size: 2.5rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.1em;
  font-family: "Roboto", sans-serif;
}

@keyframes fv-move {
  from {
    transform: 0;
  }
  to {
    transform: translateX(100vw);
  }
}
.slide-in {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner {
  display: inline-block;
}

/*左右のアニメーション*/
.leftAnime {
  opacity: 0;
  /*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  animation-name: slideTextX100;
  animation-duration: 0.8s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    /*要素を左の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.slideAnimeRightLeft {
  animation-name: slideTextX-100;
  animation-duration: 0.8s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX-100 {
  from {
    transform: translateX(100%);
    /*要素を右の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.about_inner {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(../../img/top-about.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 30%;
}
@media screen and (max-width: 1024px) {
  .about_inner {
    margin-bottom: 45%;
  }
}
@media screen and (max-width: 768px) {
  .about_inner {
    margin-bottom: 50%;
  }
}
@media screen and (max-width: 480px) {
  .about_inner {
    height: 300px;
    margin-bottom: 80%;
  }
}
.about_ttl {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.about_ttl h2 {
  color: #fff;
  display: inline-block;
  font-size: 2.5rem;
  border-bottom: 2px solid #0F77BB;
  line-height: 1.3;
  padding: 0 2%;
}
.about_ttl p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2;
}
.about_box {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 50%;
  padding: 5%;
  box-shadow: #666 0px 5px 10px, #0F77BB -25px 25px, #666 -30px 30px 10px;
}
@media screen and (max-width: 1024px) {
  .about_box {
    bottom: -210px;
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .about_box {
    bottom: -170px;
    width: 75%;
  }
}
.about_copy {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline 1px solid #333;
  text-underline-offset: 0.2em;
  margin-bottom: 5%;
}
.about_copyEx {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 1.5px;
  margin-bottom: 5%;
  line-height: 1.5;
}
.about_button {
  left: 80%;
  transform: translate(-80%, 0);
}

.service {
  margin-bottom: 10%;
}
@media screen and (max-width: 480px) {
  .service {
    margin-bottom: 15%;
  }
}
.service_inner {
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .service_inner {
    flex-direction: column-reverse;
  }
}
.service_box {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  left: 10%;
  width: 40%;
  padding: 6% 3% 10%;
  box-shadow: #666 0px 5px 10px, #0F77BB -25px 25px, #666 -30px 30px 10px;
}
@media screen and (max-width: 1024px) {
  .service_box {
    width: 50%;
    padding: 5% 3%;
  }
}
@media screen and (max-width: 768px) {
  .service_box {
    position: unset;
    width: 75%;
    margin-top: 10%;
  }
}
.service_ttl {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10%;
}
.service_ttlEn {
  display: inline-block;
  font-size: 2rem;
  color: #0F77BB;
  line-height: 1.3;
  border-bottom: solid 1px #0F77BB;
}
.service_ttlJa {
  font-size: 1.2rem;
  line-height: 2;
}
.service_ex {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 1.5px;
  margin-bottom: 5%;
  line-height: 1.5;
  margin-bottom: 10%;
}
@media screen and (max-width: 1024px) {
  .service_img {
    text-align: end;
  }
}
.service_img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .service_img img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .service_img img {
    width: 100%;
  }
}
.service_button {
  left: 80%;
  transform: translate(-80%, 0);
}

.shop {
  margin-bottom: 10%;
}
@media screen and (max-width: 480px) {
  .shop {
    margin-bottom: 15%;
  }
}
.shop_inner {
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .shop_inner {
    flex-direction: column;
  }
}
.shop_box {
  position: absolute;
  background-color: #fff;
  left: 55%;
  width: 30%;
  padding: 5% 2%;
  text-align: center;
  box-shadow: #666 0px 5px 10px, #0F77BB 25px 25px, #666 30px 30px 10px;
}
@media screen and (max-width: 1024px) {
  .shop_box {
    width: 40%;
    left: 50%;
  }
}
@media screen and (max-width: 768px) {
  .shop_box {
    position: unset;
    width: 75%;
    margin-top: 10%;
  }
}
.shop_ttl {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10%;
}
.shop_ttlEn {
  display: inline-block;
  font-size: 2rem;
  color: #0F77BB;
  line-height: 1.3;
  border-bottom: solid 1px #0F77BB;
}
.shop_ttlJa {
  font-size: 1.2rem;
  line-height: 2;
}
.shop_ex {
  display: inline-block;
  padding: 0 5%;
  background-color: #666;
}
.shop_ex p {
  font-size: 1rem;
  color: #fff;
  line-height: 5;
}
.shop_img img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .shop_img img {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .shop_img img {
    width: 100%;
  }
}
.shop_button {
  left: 80%;
  transform: translate(-80%, 0);
}

.recruit {
  margin-bottom: 10%;
}
.recruit_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0F77BB;
  width: 55%;
  justify-content: space-around;
  margin-left: 10%;
}
@media screen and (max-width: 1024px) {
  .recruit_inner {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .recruit_inner {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .recruit_inner {
    width: 90%;
    margin: 0 auto;
  }
}
.recruit_left {
  width: 25%;
}
@media screen and (max-width: 1024px) {
  .recruit_left {
    width: 35%;
  }
}
.recruit_ttl {
  text-align: center;
  font-weight: bold;
  margin-bottom: 25%;
}
.recruit_ttlEn {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  line-height: 1.3;
  border-bottom: solid 1px #fff;
}
.recruit_ttlJa {
  color: #fff;
  text-align: initial;
  font-size: 1.2rem;
  line-height: 3;
  margin-left: 10%;
}
@media screen and (max-width: 1024px) {
  .recruit_ttlJa {
    margin-left: 15%;
  }
}
@media screen and (max-width: 768px) {
  .recruit_ttlJa {
    margin-left: 18%;
  }
}
@media screen and (max-width: 480px) {
  .recruit_ttlJa {
    margin-left: 8%;
  }
}
.recruit_right {
  width: 75%;
  height: 400px;
  background: url(../../img/top-recurute.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .recruit_right {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .recruit_right {
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .recruit_right {
    height: 200px;
  }
}
.recruit_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recruit_button {
  left: 50%;
  transform: translate(-50%, 0);
}

.contact {
  margin-bottom: 10%;
}
.contact_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0F77BB;
  width: 55%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 10%;
}
@media screen and (max-width: 1024px) {
  .contact_inner {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .contact_inner {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .contact_inner {
    width: 90%;
    margin: 0 auto;
  }
}
.contact_left {
  width: 25%;
}
@media screen and (max-width: 1024px) {
  .contact_left {
    width: 35%;
  }
}
.contact_ttl {
  text-align: center;
  font-weight: bold;
  margin-bottom: 25%;
}
.contact_ttlEn {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  line-height: 1.3;
  border-bottom: solid 1px #fff;
}
.contact_ttlJa {
  color: #fff;
  text-align: initial;
  font-size: 1.2rem;
  line-height: 3;
  margin-left: 10%;
}
@media screen and (max-width: 1024px) {
  .contact_ttlJa {
    margin-left: 15%;
  }
}
@media screen and (max-width: 768px) {
  .contact_ttlJa {
    margin-left: 18%;
  }
}
@media screen and (max-width: 480px) {
  .contact_ttlJa {
    margin-left: 8%;
  }
}
.contact_right {
  width: 75%;
  height: 400px;
  background: url(../../img/top-contact.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .contact_right {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .contact_right {
    height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .contact_right {
    height: 200px;
  }
}
.contact_button {
  left: 50%;
  transform: translate(-50%, 0);
}

.about_top {
  margin-top: 7vh;
}
.about_topBg {
  background: url(../../img/about-top.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
}
.about_topTtl {
  text-align: center;
  font-size: 3rem;
  margin: 5% 0;
}
.about_topTtlEn {
  color: #0F77BB;
  text-decoration: underline solid #333;
  text-underline-offset: 0.2em;
}
.about_topTtlJa {
  font-size: 0.5em;
  line-height: 3;
}

.history {
  position: relative;
  z-index: 1;
}

div.fixed {
  position: -webkit-sticky;
  /*Safari*/
  position: sticky;
  top: 7vh;
  height: 100vh;
  /*Header高さ分で止まるようにする*/
  /*デモ画面の高さを持たすための上下余白*/
}
div.fixed:nth-child(odd) {
  background: #666;
}
div.fixed:nth-child(even) {
  background: url(../../img/history1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.president {
  margin-top: 10%;
}
.president_iner {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(225, 225, 225);
  padding: 5%;
}
.president_title {
  text-align: center;
}
.president_title h3 {
  font-size: 2rem;
}
.president_box {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.president_itemT {
  width: 60%;
}
.president_lead {
  text-align: center;
}
.president_lead strong {
  font-size: 1.2rem;
}
.president_text {
  margin-top: 5%;
}
.president_text p {
  line-height: 1.5;
}
.president_nameC {
  text-align: end;
  margin-top: 5%;
}
.president_nameA {
  text-align: end;
  margin-top: 2%;
}

.cinfo {
  margin-top: 10%;
}
.cinfo_iner {
  width: 80%;
  margin: 0 auto;
}
.cinfo_title {
  text-align: center;
}
.cinfo_title h3 {
  font-size: 2rem;
}
.cinfo_wrap {
  margin-top: 10%;
}
.cinfo_wrap table {
  width: 100%;
}
.cinfo_wrap table tr {
  border: solid 1px #fff;
}
.cinfo_wrap table tr td:nth-of-type(1) {
  width: 20%;
  text-align: center;
  background-color: rgba(15, 119, 187, 0.3019607843);
  line-height: 4;
  font-weight: bold;
}
.cinfo_wrap table tr td:nth-of-type(2) {
  padding-left: 10%;
}

.space {
  vertical-align: middle;
}

.a-recruit_mainInner {
  position: relative;
  width: 100%;
  height: 100%;
}
.a-recruit_mainInner img {
  width: 100%;
  height: 100%;
}
.a-recruit_containInner {
  position: relative;
  width: 100%;
  height: 100%;
}
.a-recruit_containTtl {
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
}
.a-recruit_containTtl h2 {
  display: inline-block;
  font-size: 2rem;
  color: #0F77BB;
  line-height: 1.3;
  border-bottom: solid 1px #0F77BB;
}
.a-recruit_containTtl p {
  font-size: 1.2rem;
  line-height: 2;
}
.a-recruit_containBox {
  position: relative;
  width: 80%;
  margin: 10% auto 0;
}
.a-recruit_containBox table {
  width: 100%;
}
.a-recruit_containBox table tr {
  border: solid 1px #fff;
}
.a-recruit_containBox table tr td:nth-of-type(1) {
  width: 20%;
  text-align: center;
  background-color: rgba(15, 119, 187, 0.3019607843);
  line-height: 4;
  font-weight: bold;
}
.a-recruit_containBox table tr td:nth-of-type(2) {
  padding: 2% 3%;
  line-height: 1.5;
}
.a-recruit_workInner {
  position: relative;
  width: 100%;
  height: 100%;
}
.a-recruit_workTtl {
  text-align: center;
  margin-top: 10%;
}
.a-recruit_workTtl p {
  font-size: 1.7rem;
}
.a-recruit_img p {
  margin-top: 4%;
  text-align: center;
}
.a-recruit_imgs {
  position: relative;
  display: grid;
  width: 1000px;
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 10% auto;
  gap: 2%;
}
.a-recruit_imgsInner {
  position: relative;
  width: 100%;
  height: 100%;
}
.a-recruit_imgTxt {
  position: relative;
  background-color: rgba(15, 119, 187, 0.3019607843);
}
.a-recruit_imgTxtarea {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 30% 0;
  left: 50%;
  transform: translateX(-50%);
}
.a-recruit_imgTxtarea p {
  font-size: 1rem;
  line-height: 2;
}

.a-contact_mainInner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.a-contact_mainBox {
  padding-right: 1%;
}
.a-contact_mainBox:nth-child(3) {
  padding-right: 0%;
}
.a-contact_mainBox img {
  width: 100%;
  height: 100%;
}
.a-contact_containInner {
  position: relative;
  width: 100%;
  height: 100%;
}
.a-contact_containTtl {
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
}
.a-contact_containTtl h2 {
  display: inline-block;
  font-size: 2rem;
  color: #0F77BB;
  line-height: 1.3;
  border-bottom: solid 1px #0F77BB;
}
.a-contact_containTtl p {
  font-size: 1.2rem;
  line-height: 2;
}
.a-contact_containMapInner {
  position: relative;
  width: 100%;
  margin-top: 10%;
}
.a-contact_callInner {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}
