@use "./breakpoint"as *;
@use "../setting"as s;

.button {
  display: inline-block;
  position: relative;
  width: 150px;
  padding: 0 2%;
  @include mq(tab) {
    width: 125px;
    padding: 0;
  }
  @include mq(sp) {
    width: 90px;
  }
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    top: 9px;
    right: 0;
    border-top: solid 3px s.$m-black;
    border-right: solid 3px s.$m-black;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    @include mq(sp){
      top: 4px;
      width: 12px;
      height: 12px;
      border-top: solid 2px s.$m-black;
      border-right: solid 2px s.$m-black;
    }
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 28px;
    height: 3px;
    background-color: s.$m-black;
    top: 17px;
    right: 0;
    @include mq(sp){
      top: 10px;
      width: 20px;
      height: 2px;
    }
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2;
    font-size: 1.2rem;
  }
}