@use "../setting" as *;

@mixin flex($no-center:center) {
  display: flex;
  justify-content: $no-center;
  align-items: center;
}

@mixin ttl{
  &Ttl {
    text-align: center;
    font-size: 3rem;
    margin: 5% 0;

    &En {
      color: $main;
      text-decoration: underline solid $m-black;
      text-underline-offset: .2em;
    }

    &Ja {
      font-size: .5em;
      line-height: 3;
    }
  }
}

@mixin bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin top-shadow {
  box-shadow: #666 0px 5px 10px,
  $main -25px 25px,
  #666 -30px 30px 10px;
}

@mixin ex {
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 1.5px;
  margin-bottom: 5%;
  line-height: 1.5;
}